server {
    server_name wu.ly www.wu.ly;

    root /var/www/html;
    index index.html index.htm;

    access_log /var/log/nginx/wu.ly_access.log;
    error_log /var/log/nginx/wu.ly_error.log;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/generate {
        proxy_pass http://localhost:3000/api/generate;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    location /reveal_gallery/static/ {
        alias /var/www/reveal_gallery/src/static/;
        add_header Access-Control-Allow-Origin *;
        expires 30d;
        add_header Cache-Control "public, no-transform";
        
        # Add proper MIME types
        include /etc/nginx/mime.types;
        
        # Prevent fallback to index.html
        try_files $uri =404;
        
        # Explicitly set JavaScript MIME type
        location ~ \.js$ {
            default_type application/javascript;
        }
    }

    location /reveal_gallery {
        proxy_pass http://127.0.0.1:8000;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_read_timeout 300;
        proxy_connect_timeout 300;
    }

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/wu.ly/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/wu.ly/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
    listen 80;
    server_name wu.ly www.wu.ly;
    return 301 https://$host$request_uri;
}
